.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(36, 0, 70);
  height: 5vh;
  padding: 2rem;
  color: white;

  & .header-logo {
    & h1 {
      font-family: 'Lobster';
      font-size: 2.5rem;
    }
  }
}